body{
    background-color: black;
    color: white;
    text-align: center;
}
.color_container{
/* border: 2px solid blue; */
display: flex;
justify-content: center;
align-items: center;
}
#main{
/* border: 2px solid red; */
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 20px;
color: white;
font-size: 22px;
font-weight: bold;
padding: 1rem;
}
#h{
/* border: 2px solid red; */
margin-top: 3rem;
margin-bottom: 2rem;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}